body {
	background-color: ;
}
#wrapper {
	margin-left: Auto;
	margin-right: Auto;
	width:100% ;

}
#header {
	z-index: 1;
	position: fixed;
	width: 98.5%;
	margin-top: -20px;
	height: 70px;
	background-color: #668284;
	margin-bottom: 10px;
	border-radius: 9px;
	margin-left: 5px;
	margin-right: 5px;
    opacity: 0.85;
    box-shadow: 0px 0px 70px black

        
}
#header:hover {
    opacity: 1;
}

#name {
    font-size: 1.2em;
    font-family: Georgia,serif ;
    color: white;
    padding: 6px 14px 0px 14px;
    float: left;
}
#mail{
    text-decoration: none;
    text-align: right;
    color: #ffffff;
    float: right;
    font-size: 1.1em;
    padding: 29px
    
}
#mail:hover {
    font-size: 1.2em;
    font-weight: bold;
    
}

#cap {
	width: 128px;
    height: 128px;
 	
 	position: absolute;
 	margin-left: 210px;
 	margin-top:120px;
 	background-image:  url(https://cdn3.iconfinder.com/data/icons/objects-1/100/square_academic_cap_graduate_cap_mortarboard-128.png);
 }

 	#tool {
	width: 128px;
    height: 128px;
 	
 	position: absolute;
 	margin-left: 210px;
 	margin-top:377px;
 	background-image:  url(https://cdn0.iconfinder.com/data/icons/huge-business-vector-icons/60/equipment-128.png);

}
#trophy {
	width: 128px;
    height: 128px;
 	
 	position: absolute;
 	margin-left: 210px;
 	margin-top:640px;
 	background-image:  url(http://icons.iconarchive.com/icons/icons-land/metro-raster-sport/128/Trophy-icon.png);

}
#codeacademy {
    text-decoration: none;
    color: inherit;
}
#codeacademy:hover {
    font-weight: bold;
    text-decoration: underline;
    
}
/* Main-heading properties (general) */
h3 { 
    padding-left: 150px;
    padding-top: -15px;    

}
/* Sub-heading properties (general) */
h2 {
	float: right;
	z-index: 2;
	margin-top: -155px;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;;
	color: white;
	margin-right: 30px;
	display: inline-block;
}
/* General List propoerties */
ul {
    padding-left: 60px;
    float: right;
    z-index: 2;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    color:inherit;
    margin-top: -120px;
    display: inline-block;

}
.right {
    position: relative;
	height:250px;
	width:88%;
	background-color: #cc3c3c;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 10px
	margin-right: 10px;
	float: right;
	border-radius: 9px;
    opacity: 0.94
    
}
#right-2 {
    
	border: #ff4c4c 25px solid ;
	background-color: #ff5d5d;
	position: relative;
	border-radius: 9px;
	height:160px;
	width:92.2%;
	position: absolute;
	margin-top: 21px;
	margin-left: 21px;
}
#Awards {
	font-size: 60px;
	font-family: Century Gothic;
	color: #b23535;
	margin-top:45px;
}
/* Specific setting for "Awards" list */
.right ul {
	margin-right: 420px ;
}
/* Specific setting for "Non-Academic" heading  */
.right h2 {
	margin-right: 350px; 

}
.r-middle {
	position: relative;
	height:250px;
	width:88%;
	background-color: #2db82d;
	margin-bottom: 5px;
	margin-left: 10px
	margin-right: 10px;
	float: right;
	border-radius: 9px;
    opacity: 0.94;
}
#rmid-2 {
    
	border: limegreen 25px solid ;
	background-color: #46d246;
	position: relative;
	border-radius: 9px;
	height:160px;
	width:92.2%;
	position: absolute;
	margin-top: 21px;
	margin-left: 21px;
}
#Skills {
	font-size: 60px;
	font-family: Century Gothic;
	color: #28a428;
	margin-top: 45px;
	margin-left: 10px;

}
/* Specific setting for "Skills" list */
.r-middle ul {
	margin-right: 80px ;
}
/* Specific setting for "Technical Skills" heading  */
.r-middle h2 {
	margin-right: 350px; 
	
}
.l-middle {
	position: relative;
	height:250px;
	width:88%;
	background-color: #d9a20d;
	margin-top: 60px;
	margin-bottom: 5px;
	margin-left: 10px
	margin-right: 10px;
	float: right;
	border-radius: 9px;
    opacity: 0.94
}
#lmid-2 {
    
	border: #f2b50f 25px solid ;
	background-color: #f3bc26;
	position: relative;
	border-radius: 9px;
	height:160px;
	width:92.2%;
	position: absolute;
	margin-top: 21px;
	margin-left: 21px;
}
#Education {
	font-size: 60px;
	font-family: Century Gothic;
	color: #c1900c;
	margin-top: 45px;
	}
/* for heading "Formal Education" */
#lmid-2 h2:nth-child(2){
	margin-right: 350px;
}
/* for heading "Courses" */
#lmid-2 h2 {
	margin-right: 100px;

}
#lmid-2 ul:nth-child(3) {
	margin-right: 310px;

}	
#lmid-2 ul {
	margin-right: 30px;

}	
.left {
    position: relative;
    height: 770px;
    width: 10%;
    background-color: #659cff;
    border-radius: 5px;
    float: left;
    margin-top: 60px;
    margin-bottom: 10px;
    margin-left: 10px;
    
}


#footer {
    height: 50px;
    width: 100%;
    background-color: #668284;
    border-radius: 9px;
    clear: both;
    margin-left: 5px;
    margin-right:5px;

}
#g {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-image: url(https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRS33iUjQprEz3U2_-vxj8-0b_um1CTbbXBj6sFus7AD9j8UKG7);
    float: right;
    margin-top: 3.7px; 
    margin-right: 40px;
    border: 2px solid  #668284;
    
}
#fb {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-color: blue;
     background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAnHx8kKDQsJCYxJx8fLTwtMTU3OjxGIzc6OD84TSw0NjQBCgoKDQwNGg8PGjclHyQ3Nzc3Nzc3NDg3ODcsMzc0NzcsNzQ3NzQsNDQ0NDQ0NDQsNy0rNysrNzc2NC0yKzcrK//AABEIACgAKAMBIgACEQEDEQH/xAAaAAEAAgMBAAAAAAAAAAAAAAAABAYBBQcD/8QALhAAAQQBAgQDBwUAAAAAAAAAAgABAwQRBQYHEiExE2GRFEFRdIGxwhU1NnFz/8QAGQEAAgMBAAAAAAAAAAAAAAAAAwQAAQUG/8QAHxEAAgICAgMBAAAAAAAAAAAAAAECEQMSITEjNHET/9oADAMBAAIRAxEAPwCtoiLoDPMLb1dsa7bhaavpVk4y6sTiw59XZbbhnpkGpbkYrIMYVYnmYCbLOWWZvTOVd9178j2/qnsAUCsmIMZk8vIzZ7Y6PlLZM01PSCthYwVbSZyG1Wmp2JK9qIopo3wYF3F0UnXNR/VtYt6h4Xhe0HzeHzc3L0Zu/wBETCuuQb7IKkabXG3qNSsbuIzThGTj3ZiJm6eqjrIEQGJgTiQvkSF8Oz+Sj6KO37Y2bS25dltVLNmU5I/DdpXHDNln9zN8F47g2JQ13VD1CzbtRyGIi4xuOOn9s6rHCm/dt65bC3cszg1XLDLMRsz8w+53UHiRqV+tuyeKtftQxtFG7BHOQs3T4M6zljyfs1tzXYztHS6KvrdSGhrFynWMzigleMSPGXx3zjzyihmRGZGZORE+SIny7v5rC0VwhZhERWQvXCD9/ufKfmKgcT/5hY/xj+ywiTj7L+B2vEVVEROAD//Z);
    float: right;
    margin-top: 3.7px; 
    margin-right: 50px;
    border: 2px solid  #668284;
    }
#t {
    border-radius: 100%;
    height: 40px;
    width: 40px;
    background-color: cyan;
     background-image: url(data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8eKDQsJCYxJx8fIj0tMTU3Ojo6Iys/RD84QzQ5OisBCgoKDQwNGg8PGjclHyU3LDc3Nzc0NDc4Nzc2NDQ3Ny83Nzc4ODc3NzQ0NDQ0KzU3NzQtNDI0NDc3MTIwLDQ3N//AABEIACgAKAMBEQACEQEDEQH/xAAaAAABBQEAAAAAAAAAAAAAAAABAAQFBgcC/8QALhAAAQEHAgMHBQEAAAAAAAAAAQIAAwQREiFRBQYTMZEiMkFhccHRFSOBobEU/8QAGQEAAgMBAAAAAAAAAAAAAAAAAAEEBQYD/8QAJhEAAgEDAwMEAwAAAAAAAAAAAAEDAgQREiFBBTGBEyKhsVFhcf/aAAwDAQACEQMRAD8AdKUajc88tpzEtgqOT1YFkVRyerAZFUcnqwGQpUahc88sDTFYvJEyE7nDHAclj1zakRCq4+mBUTCqEwE3Wn5DQoL2mr2ybMsrrptdHui3p+TrZ2hOo6IfvdQdKKHEgHSwRMnLK8uHHSlQ+4+nWdMtTci2XBYtW27o3+dUSuHQ4DlJUSglKSBkD2u0KG6mzpTzksrixttOtrGDOV08Y8PuVdm0rejXSzjczTxq2OSZLJwfFmLk1bb8a6jtLcvXLkuUylRKwPjLybP3Ebjkabya60lpliVVKwSTcCSQO9IxMLoT13MVxH20j+/ppdlG6pU/wV/UpVRbtcvYzVPeHq14ZhBMiu5kJ3MpscD5LltRUDAgr+vpoNzDkUJn51ezVl2pK9vT8l1YOKLf1fHb7JqP3TpUIglMQH6/BDntT/PJosdnLW+2P6Tpeo28a2eX+ig61q0Rq8Xx38kpAk7djkgfPm1vDDTDTpRnrm5ruK9VQwT3h6t2I6CpJqNjzwwNoFJwejAsCpOD0YDAqTg9GAwFKTULHnhgaR//2Q==);
    float: right;
    margin-top: 3.7px; 
    margin-right: 60px;
    border: 2px solid  #668284;
    
}
#g:hover {
    border: black solid 2px;
}
#fb:hover {
    border: black solid 2px;
}
#t:hover {
    border: black solid 2px;
}

}

    
    
    
    
	
